@model GC.RESUME.CORE.DAL.Entities.award

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>award</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="profileId" class="control-label"></label>
                <select asp-for="profileId" class ="form-control" asp-items="ViewBag.profileId"></select>
            </div>
            <div class="form-group">
                <label asp-for="place" class="control-label"></label>
                <input asp-for="place" class="form-control" />
                <span asp-validation-for="place" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="location" class="control-label"></label>
                <input asp-for="location" class="form-control" />
                <span asp-validation-for="location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="compName" class="control-label"></label>
                <input asp-for="compName" class="form-control" />
                <span asp-validation-for="compName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="yearRec" class="control-label"></label>
                <input asp-for="yearRec" class="form-control" />
                <span asp-validation-for="yearRec" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
